
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data:{turbo: false}) do |f| %>
  <div class=" b w-100 d-flex justify-content-between align-items-center bg-primary text-white">
    <%= link_to  :back  do %>
      <i class="fa fa-arrow-left text-white" aria-hidden="true"></i>
    <%end%>
  
    <p class="mb-0">Register</p>
    <%= f.submit "Next", class:'btn text-white' %> 
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder: 'Full name', class: 'form-control rounded-0' %>


  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control rounded-0' %>
  </div>

  <div class="field">
  
    <%= f.password_field :password, autocomplete: "new-password",placeholder: 'Password', class: 'form-control rounded-0' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: 'Confirm password', class: 'form-control rounded-0' %>
  </div>

 
<% end %>

